@model RehberUygulamasi.Models.Sehir

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Şehir Sil</h1>

<h3>Silmek istediğinize Emin Misiniz?</h3>
<div>
    <h4>Sehir</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SehirAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SehirAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SehirKodu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SehirKodu)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye geri dön</a>
    </form>
</div>
